{"filter":false,"title":".gitignore","tooltip":"/cookingv2/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":6,"column":0},"end":{"row":6,"column":10},"action":"remove","lines":["db.sqlite3"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":0},"end":{"row":6,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1681500835647,"hash":"09331007b0695652c3db4be5599f559c5104d749"}